In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df=pd.DataFrame()
for i in range(1, 3):
    df=pd.concat([df, pd.read_csv(f"test{i}.csv")],ignore_index=True)
    print(df)
print(df)

   EXTRACT1  CONTROL1
0      10.0       1.0
1      11.0       2.0
2       9.5       1.0
3       9.0       1.5
4      12.0       0.5
5      11.0       3.0
6      13.0       4.0
7      10.0       3.0
8       9.5       2.5
9      12.0       2.0
   EXTRACT2  CONTROL2
0      20.0      15.0
1      22.0      18.0
2      21.0      17.0
3      23.0      15.0
4      19.5      16.0
5      20.0      16.5
6      21.0      15.6
7      22.0      17.5
8      23.0      16.0
9      20.0      15.0
   EXTRACT2  CONTROL2
0      20.0      15.0
1      22.0      18.0
2      21.0      17.0
3      23.0      15.0
4      19.5      16.0
5      20.0      16.5
6      21.0      15.6
7      22.0      17.5
8      23.0      16.0
9      20.0      15.0

In [7]:
import glob
 
# list all csv files only
csv_files = glob.glob('*.{}'.format('csv'))
csv_files

['test1.csv', 'test2.csv']

In [9]:
df_csv_append = pd.DataFrame()
 
# append the CSV files
for file in csv_files:
    df = pd.read_csv(file)
    df_csv_append = df_csv_append.append(df, ignore_index=True)
 
df_csv_append

C:\Users\scott\AppData\Local\Temp\ipykernel_25280\2821319824.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)
C:\Users\scott\AppData\Local\Temp\ipykernel_25280\2821319824.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_csv_append = df_csv_append.append(df, ignore_index=True)

    EXTRACT1  CONTROL1  EXTRACT2  CONTROL2
0       10.0       1.0       NaN       NaN
1       11.0       2.0       NaN       NaN
2        9.5       1.0       NaN       NaN
3        9.0       1.5       NaN       NaN
4       12.0       0.5       NaN       NaN
5       11.0       3.0       NaN       NaN
6       13.0       4.0       NaN       NaN
7       10.0       3.0       NaN       NaN
8        9.5       2.5       NaN       NaN
9       12.0       2.0       NaN       NaN
10       NaN       NaN      20.0      15.0
11       NaN       NaN      22.0      18.0
12       NaN       NaN      21.0      17.0
13       NaN       NaN      23.0      15.0
14       NaN       NaN      19.5      16.0
15       NaN       NaN      20.0      16.5
16       NaN       NaN      21.0      15.6
17       NaN       NaN      22.0      17.5
18       NaN       NaN      23.0      16.0
19       NaN       NaN      20.0      15.0